*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;   
   font-family: 'Poppins', sans-serif;
   border: none;
}
.section-main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   height: 100vh;
   background-color: #1b222c;
}
.nav-bar{
   width: 1300px;
   max-width: 100%;
   height: 10vh;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
   background: #111827;
   padding: 20px;
   margin: 10px;
   border-radius: 18px;
   font-size: larger;
}
.logo h1{
   background-image: linear-gradient(to right, rgb(228, 255, 60), steelblue, rgb(224, 221, 64));
   color: black;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   width: 150px;
   margin-left: 50px;
}
.titulo-nav{
   text-align: center;
   color: #cbcfd8;
   width: 350px;
}
.img-prefeitura{
   margin-right: 50px;
   display: flex;
   text-align: center;
}
.img-prefeitura img{
   height: 40px;
}

.container{
   background-color: #111827;
   display: flex;
   height: 80%;
   width: 1300px;
   border-radius: 5px;
}

