.conteudo{
   width:100%;
   display: flex;
   align-items: center;
   text-align: center;
   background-color: #111827;
   border-radius: 10px;
   padding: 40px;
}
.conteudo-filme{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.filme-img{
   height: 350px;
}

.box-image{
   width: 250px;
   border-radius: 10px;
   box-shadow: 2px 2px 10px black;
}
.box-title{
   margin:40px;
   font-size: 1rem;
   color: #cbcfd8;
}

.container-option{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding-left: 50px;
}


.opcao{
   width: 100%;
   display: grid; 
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 200px;
}
.opcao button{
   border-radius: 10px ;
   margin: 20px;
   background-color: #0a0f1b;
   font-size: 20px;
   color: #cbcfd8;
}
.opcao button:hover{
   scale: 1.2;
   transition: all .3s ease;
   border: solid 2px #cbcfd8;
}

.conteudo-opcao{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: aquamarine;
   width: 100%;
   height: 100%;
}
.opcao a{
   color: white;
   text-decoration: none;
}

.escolher-cadeira{
   background-color: red;
   width: 90%;
   height: 70%;

}

.btn-back-next{
   margin-top: 0px;
   background-color: gray;
   width: 80%;
   border-radius: 20px ;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   height: 80px;
}
.btn-back-next button{
   width: 250px;
   height: 40px;
   border-radius: 20px;
}

.container{
   background-color: transparent;
}
.cartaz{
   height: 100%;
   width: 30%;
   border-radius: 10px;
   background-color: #111827;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.conteudo-film{
   text-align: center;
   width: 100%;
}
.conteudo-film img{
   border-radius: 10px;
   width: 300px;
   box-shadow: 5px 5px 15px black;
}


.conteudo-opcao{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   width: 80%;
   background-color: #0a0f1b; 
}

.escolher-cadeira{
   background-color: rgb(124, 124, 124);
   width: 80%;
   border-radius: 15px;
   height: 70%;
   padding: 50px;
}

.btn-back-next{
   margin-top: 5%;
   background-color: #111827;
   width: 90%;
   border-radius: 20px ;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   height: 80px;
}
.btn-back-next button{
   cursor: pointer;
   font-size: 22px;
   width: 300px;
   height: 40px;
   border-radius: 20px;
   color: white;
   background-color: #0a0f1b;
}
.btn-back-next button:hover{
   transition: 0.4s;
   scale: 1.1;
   border: 1px solid white;
}