
.container{
   background-color: transparent;
}
.cartaz{
   height: 100%;
   width: 30%;
   border-radius: 10px;
   background-color: #111827;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.conteudo-film{
   text-align: center;
   width: 100%;
}
.conteudo-film img{
   border-radius: 10px;
   width: 300px;
   box-shadow: 5px 5px 15px black;
}


.conteudo-opcao{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   width: 80%;
   background-color: #0a0f1b; 
}

.escolher-cadeira{
   background-color: rgb(124, 124, 124);
   width: 80%;
   border-radius: 15px;
   height: 70%;
   padding: 50px;
}

.btn-back-next{
   margin-top: 8%;
   background-color: #111827;
   width: 90%;
   border-radius: 20px ;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   height: 80px;
}
.btn-back-next button{
   cursor: pointer;
   font-size: 22px;
   width: 300px;
   height: 40px;
   border-radius: 20px;
   color: white;
   background-color: #0a0f1b;
}
.btn-back-next button:hover{
   scale: 1.1;
   border: 1px solid white;
}