@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
  --main-bg-color:rgb(27, 34, 44);
  --side-bg:rgb(17 24 39);
  --letras:rgb(203, 207, 216);

}

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color:var(--main-bg-color);
}

nav{
  max-width: 100%;
  overflow: hidden;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  background: var(--side-bg);
  padding: 20px;
  margin: 20px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  font-size: larger;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
nav i{
  margin-right: 10px;
  color: var(--letras);
  width: 3vw;
  text-align: center;
}
nav li{
  scale: 0.9;
  text-align: center;
  width: 17vw;
  margin: 10px;
  background: var(--main-bg-color);
  padding: 10px;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
nav li:hover{
  scale:1;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  border: solid 2px var(--letras);

}
nav a{
  text-decoration: none;
  color: var(--letras);
  font-weight: 500;
  margin-top: 8px;
}
nav img{
  width: 9vw;

}
.line1{
  display: flex;
  justify-content: space-around;
  color: var(--letras);
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.line1 h1{
  background-image: linear-gradient(to right, rgb(228, 255, 60), steelblue, rgb(224, 221, 64));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
  
}
.conteudo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.conteudo h1{
  background-image: linear-gradient(to right, rgb(228, 255, 60), steelblue, rgb(224, 221, 64));
  margin: 20px;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
}
.cards{
width: 100%;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  padding: 24px;
  flex-wrap: nowrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: var(--side-bg);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  color: var(--letras);
  -o-border-radius: 18px;
  
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

.box-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
}

.title-flex {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.box-title {
  font-size: 1rem;
  border-left: 3px solid var(--purple);
  padding-left: 12px;
}

.user-follow-info {
  color:var(--letras);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 10px;
  color:var(--letras);
  background: var(--main-bg-color);
  transition: background 0.4s ease;
  border: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.cards-btns{
  display: flex;
  gap: 20px;
}
.button:hover {
  transition: all .3s ease;
  background: var(--letras);
  color: var(--main-bg-color);
  border: none;
  scale: 1.1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .wrap{
    flex-wrap: wrap;
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}
