<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dependente</title>
   <!-- <link rel="stylesheet" href="./src/style.css"> -->
   <link rel="stylesheet" href="../assets/css/global.css"> 
   <link rel="stylesheet" href="../assets/css/dependente.css ">
</head>
<body>
   <main class="section-main">
      <nav class="nav-bar">
               
         <div class="logo">
            <h1>UxCine</h1>
         </div>

         <div class="titulo-nav">
            <h1 class="titulo">Área de Dependente</h1>
         </div>

         <a  href="https://www2.recife.pe.gov.br/" target="__blank" class="img-prefeitura"><img src="../assets/img/logo2.png" alt=""></a>
      </nav>

      <section class="container">
         <div class="regras">
            <div class="conteudo-regra">
               <img src="https://br.web.img3.acsta.net/pictures/19/12/12/22/35/3598465.jpg" alt="">
            </div>
         </div>
         <div class="conteudo">
            <div class="conteudo-registro">
               <label for="nome">Nome:</label>
               <input type="text" name="nome">
               <label for="dt-nasc">Data de Nascimento:</label>
               <input type="date" name="dt-nasc">
            </div>
         </div>
      </section>

   </main>
</body>
</html>