<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="script.js"> </script>
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>UX Cine</title>
</head>

<body>
  <nav>

    <div class="line1">
      <h1>UxCine</h1>
    </div>

    <ul>
      <li><a href="#"><i class="fa-solid fa-forward fa-lg"></i>Próximo</a></li>
      <li><a href="#"><i class="fa-solid fa-star fa-lg"></i>Indicar</a></li>
      <li><a href="#"><i class="fa-solid fa-child fa-lg"></i>Dependente</a></li>
      <li><a href="#"><i class="fa-solid fa-star fa-lg"></i>Ingresso</a></li>
    </ul>

    <a  href="https://www2.recife.pe.gov.br/" target="__blank" class="img-prefeitura"><img src="../assets/img/logo2.png" alt=""></a>
  </nav>
  <main class="conteudo">
    <h1>Cinema para Todos </h1>
    <div class="cards">
      <div class="wrap">


        <div class="box">
          <div class="box-top">
            <img class="box-image"
              src="https://upload.wikimedia.org/wikipedia/pt/thumb/2/2a/TropaDeElitePoster.jpg/255px-TropaDeElitePoster.jpg"
              alt="Girl Eating Pizza">
            <div class="title-flex">
              <h3 class="box-title">Tropa de Elite</h3>
              <p class="user-follow-info">Classificação <img src="assets/img/livre.png" style="width: 15%;" alt=""></p>
            </div>
            <p class="description"></p>
          </div>
          <div class="cards-btns">
            <a href="#" class="button">Detalhes</a>
            <a href="#" class="button">Assistir</a>
          </div>

        </div>



        <div class="box">
          <div class="box-top">
            <img class="box-image" src="https://br.web.img3.acsta.net/pictures/19/12/12/22/35/3598465.jpg"
              alt="Girl Eating Pizza">
            <div class="title-flex">
              <h3 class="box-title">Minha mãe é uma peça 3</h3>
              <p class="user-follow-info">Classificação <img src="assets/img/livre.png" style="width: 15%;" alt=""></p>

            </div>
            <p class="description"></p>
          </div>
          <div class="cards-btns">
            <a href="#" class="button">Detalhes</a>
            <a href="#" class="button">Assistir</a>

          </div>
        </div>



        <div class="box">
          <div class="box-top">
            <img class="box-image"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/ecde21107871061.5fb1568aa2f0f.jpg"
              alt="Girl Eating Pizza">
            <div class="title-flex">
              <h3 class="box-title">Auto da compadecida</h3>
              <p class="user-follow-info">Classificação <img src="assets/img/livre.png" style="width: 15%;" alt=""></p>
            </div>
            <p class="description"></p>
          </div>
          <div class="cards-btns">
            <a href="#" class="button">Detalhes</a>
            <a href="#" class="button">Assistir</a>
          </div>

        </div>




      </div>

    </div>

  </main>
</body>

</html>