<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reserva</title>
   <!-- <link rel="stylesheet" href="./src/style.css"> -->
   <link rel="stylesheet" href="../assets/css/global.css">
</head>
<body>

   <main class="section-main">
      <nav class="nav-bar">
               
         <div class="logo">
            <h1>UxCine</h1>
         </div>

         <div class="titulo-nav">
            <h1 class="titulo">Área de Reserva</h1>
         </div>

         <a  href="https://www2.recife.pe.gov.br/" target="__blank" class="img-prefeitura"><img src="../assets/img/logo2.png" alt=""></a>
      </nav>

      <section class="container">
         
      </section>

   </main>
</body>
</html>